<h2>Norwood's Electrical Engineers</h2>

<!-- generic angular creation like hello world  -->
<!-- <p>employees works!</p>  -->

<!-- step 2 how to list an array of objects *ngFor Angular array-->
<ul class="employees">
    <!-- Step 3 make the list clickable by adding (click)="onSelect(object instance) event binding" -->
    <!-- step 4 class binding can be added with a conditional -->
    <li *ngFor="let employee of employees">
        <a routerLink="/detail/{{employee.id}}">
        <span class="badge">{{employee.id}}</span>
        {{employee.name}}
        </a>
        <button class="delete" title="delete employee"
        (click)="delete(employee)">x</button>
    </li>
</ul>
