nav{
    background-color: var(--transparent-neutral);
}

nav > a {
    padding: 0.5em;
    margin: 0.25em;
    border : 1px solid var(--soft-highlight);
    border-radius: 50px;
    background-image: linear-gradient(var(--siemens_dark), var(--siemens_ice_dark));
    background-color: var(--siemens_dark);
    box-shadow: 2px 3px 5px var(--transparent-neutral);
}

nav > a:hover {
    border : 1px solid var(--attention-highlight);
    background-image: linear-gradient(var(--siemens_ice_dark), var(--siemens_dark));
    background-color: var(--siemens_ice_light);
    box-shadow: 3px 4px 5px var(--soft-highlight);
    color: var(--light);
}
